mixin functions(fns)
	dl
		- for( var i = 0; i < fns.length; i++)
			dt(id="function-#{fns[i].name}") !{'<i class="'+(fns[i].visibility === "private" ? 'icon-eye-close' : 'icon-eye-open')+'">'+fns[i].visibility+'</i> '+fns[i].name}
			dd
				h3= fns[i].description[0].desc
				if fns[i].description[0].ref.length
					p
						for ref in fns[i].description[0].ref
							a(href="##{ref.link}") #{ref.name}
				- var desc = [], refs = [];
				- for(var j = 1; j < fns[i].description.length; j++)
					- desc.push(fns[i].description[j].desc);refs = refs.concat(fns[i].description[j].ref)
				p
					| #{desc.join(' ')}
					if refs.length
						for ref in refs
							a(href="##{ref.link}") #{ref.name}
				mixin outertags(fns[i].tags, null, fns[i].returns)